html,
body {
  background-color:#9FF5FF;
  /* background-color:rgb(203, 250, 255); */
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222;
}

code {
  font-family: 'Roboto', sans-serif;
}

main {
  font-family: 'Roboto', sans-serif;
  /* background-color:rgb(205, 254, 237); */

}